@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Inter:wght@400;700&family=Poppins:wght@400;600;700&display=swap");
:root {
  --var-clr-body-background-main: #FFF;
  --var-clr-navbar-main: #9F2836;
  --var-clr-gray-main: #404040;
  --var-clr-red-secondary: #560C02;
  --var-clr-cian-primaty: #D9EFFF;
}
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  background: var(--var-clr-navbar-main);
  font-family: "Poppins", sans-serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  cursor: pointer;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  background-color: var(--var-clr-navbar-main);
}
.mobile-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.logo__contain {
  width: 62px;
  height: 53.794px;
}
.btn__menu {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  margin: 0 1rem;
}
.hero {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.hero__video {
  object-fit: cover;
  width: 100%;
  height: 432px;
  filter: brightness(50%);
}
/* Eliminar la opcion de minimizar el reproductor del video */
#detach-button-host {
  display: none !important;
}
/* Contenido de texto dentro del video */
.hero__text-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5rem;
  color: #d9efff;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.hero__title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.author {
  font-style: italic;
  font-size: 20px;
}
.contenido {
  padding: 2rem;
  color: #fff;
  
}
.contenido__title {
  font-size: 18px;
}
.contenido__lista {
  font-weight: 400;
  font-size: 16px;
  margin: 0.5rem 0;
}
/* Barra de Lista de contenido */
.barra-de-contenido {
  font: 1em sans-serif;
  font-weight: 700;
  background: #FFF;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}
.barra-de-contenido ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.barra-de-contenido .contenido-lista-opt{
  list-style: none;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.barra-de-contenido .contenido-lista-opt:hover {
  transition: .3s ease-in-out all;
  background: #0000004a;
  cursor: pointer;
  color: #284b63;
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}
/* Lograr el cambio de color a los elementos en mantenimiento */
.mantenimiento {
  color: #f26767;
  text-decoration: line-through;
}
/* Segunda Caja de contenido(selector de comida) */
.select-type {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: var(--var-clr-body-background-main);
}
.select-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-title {
  font-family: "Courier Prime", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #747474;
  padding: 0.5rem 0;
  font-weight: 700;
}
.contain-selectors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.select-container {
  width: 100%;
  height: 190px;
  position: relative;
}
.select-contrast {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #000000a8;
  color: #fff;
  font-family: 'Courier Prime', sans-serif;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.select-container:hover .select-contrast {
  width: 100%;
}
.select-container img {
  height: 100%;
  max-width: 700px;
}
.separate {
  margin: 1rem 0;
  color: rgb(40, 189, 189);
}
/* Efecto Hover para Select Type */
.select-title-container:hover {
  transition: all ease-in-out 0.3s;
  background-color: #284b63;
}
.right ul li {
  font-size: 16px;
  font-weight: 400;
}
.left-select {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  
}
.aprender {
  max-width: 120px;
  background: none;
  color: #fff;
  font-weight: 700;
  
}
.aprender:hover {
  transition: all ease-in-out .6s;
  color: #4fcb51;
}
/* Section de reservar */
#reservar {
  background-color: #F26767;
  
  font-size: small;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.left-reservar {
  display: none;
}
.right-reservar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content-show-mobile {
  position: absolute;
  display: flex;
  margin: 1rem;
  padding: 1rem;
  background-color: #9f2836b0;
  width: 80%;
  height: 80%;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 1rem;
}
.content-show-mobile:hover {
  background-color: #9F2836;
  transition: 1s ease all;
}
.paragraph-reservar {
  font-size: 12px;
}
#form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
#form .form-qst {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}
#form .form-qst input {
  width: 100%;
  height: 32px;
  border: 1px solid var(--var-clr-navbar-main);
  border-radius: .25rem;
  padding: 0 .5rem;
}
.reservar-button {
  width: 80%;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-weight: 600;
  color: #FFF;
  background-color: #F26767;
}
.reservar-button:hover {
  transition: ease .3s all;
  opacity: .6;
}
/* Section mapa */
#maps {
  background-color: var(--var-clr-gray-main);
  color: var(--var-clr-body-background-main);
  
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
  gap: 1rem;
}
.imagen-del-mapa {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.imagen-del-mapa .horario {
  display: flex;
  position: absolute;
  background-color: #284b63;
  width: 100%;
  height: 0;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  
}
.imagen-del-mapa:hover .horario{
  height: 100%;
  transition: .3s ease all;
}
#trabajo {
  background-color: var(--var-clr-red-secondary);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 1.5rem 0;
  height: auto;
}
.pasar-cursor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  position: relative;
  margin: 1rem 0;
}
.marco-de-requisitos {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
}
.pasar-cursor:hover .marco-de-requisitos {
  width: 100%;
  transition: all ease .5s;
  background-color: var(--var-clr-navbar-main);
  opacity: .8;
}
.marco-de-requisitos .trabajo-list {
  text-align: center;
  list-style-position: inside;
}
.small-content {
  font-size: 12px;
}
.work-email {
  color: var(--var-clr-cian-primaty);
}
/* Por ultimo el footer */
#footer {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0;
}
.acerca-de {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: .75rem 1.5rem;
}
.redes-sociales {
  margin: 1rem 0;
}
.icon-social {
  width: 32px;
  height: 32px;
  list-style: none;
  border: 1px solid #000;
  border-radius: 15px;
  background-size: cover;
  transition: all ease-in-out .3s;
}
.social-media-list a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem;
}
.icon-social:hover {
  cursor: pointer;
  scale: 1.1;
}
.facebook {
  padding: .25rem;
}
.facebook:hover {
  background-color: #3b5998;
}
.instagram:hover {
  background-color: #E1306C;
}
.youtube:hover {
  background-color: #FF0000;
}
.small {
  font-size: 12px;
}